
.App {
  text-align: center;
  font-family: sans-serif;

}

.Menu {
  text-align: justify;
  font-family: sans-serif;

}
.SuccessDiv{
  background-color: aquamarine;
  height: auto;
  padding: 30px;
  text-align: center;
  font-size: large;
  font-family: sans-serif;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.StepForm{
  padding: 22px;
  margin-bottom: 150px;
  background-color:white;
  
}
.styleTab{
margin-left:180px;
margin-top: 60px;
margin-bottom: 20px;
border-radius: 20px;
border: 4px solid rgb(22, 22, 58);
width: 400px;
padding: 50px;
color: rgb(22, 22, 58);
background-color: white;

text-align: justify;

}
.trStyle{
margin-bottom: 30px;
}
.styldiv{
  padding-top: 30px;
  border: 4px solid rgb(22, 22, 58);

  border-radius: 30px;
  width: 800px;
  color: blanchedalmond;
  opacity:0.9;
  background-color: white;


}
.h4{


  color: rgb(22, 22, 58);
}
.err{

  color: red;
}
.esp{
padding-left: 50px;
color: rgb(22, 22, 58);
}

.suc{
margin-top: 30px;
  color:lightseagreen;
}
.taille{

  margin-top: -320px;
  margin-left: 50px;
}


.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {

  text-align: justify;
}

fieldset {
  display: block;
  margin:22px 36px;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
  background-color:#B0E0E6;
  height:520px;
}